#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title_services {
    font-size: 3rem;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.conteiner_cards {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card_servicos {
    width: 38%;
    min-width: 300px;
    max-width: 450px;
    height: 500px;
    position: relative;
    color: white;
    overflow: hidden;
    transition: all .6s;
    border-radius: 10px;
    perspective: 1000;
}

.card_servicos img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: brightness(0.3);
    transition: all .6s;
}

.card_servicos:hover, img:hover {
    filter: brightness(1);
}

.card_services_title {
    position: absolute;
    left: 10%;
    bottom: 5%;
    z-index: 10;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
}

@media (max-width: 980px) {
    .conteiner_cards {
        flex-wrap: wrap;
    }

}


/* Animação de flip */

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border-radius: 5px;
}

.back {
    transform: rotateY(-180deg);
    background-color: #E8198C;
}

.card_servicos:hover .front {
    transform: rotateY(180deg);
}

.card_servicos:hover .back {
    transform: rotateY(0);
}

.precos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: .9rem;
    padding: 30px;
}

.precos h1 {
    font-size: 1.5rem;
    text-align: center;
}

